<div class="c-hero-swiper js-c-hero-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide c-hero-swiper__swiper-slide">
      <div class="c-hero-swiper__swiper-slide-content c-hero-swiper__swiper-slide-content--bg1">
        <img class="c-hero-swiper__swiper-slide-1-headline" src="./assets/images/hero-headline.png" alt="転職をお考えの方！" srcset="./assets/images/hero-headline@2x.png 2x">
        <p class="c-hero-swiper__swiper-slide-1-paragraph">豊富な知識とキャリアを活かして<br>あなたに合った働き方を見つけませんか？</p>
      </div>
    </div>
    <div class="swiper-slide c-hero-swiper__swiper-slide">
      <div class="c-hero-swiper__swiper-slide-content c-hero-swiper__swiper-slide-content--bg2">
        <img class="c-hero-swiper__swiper-slide-2-headline" src="./assets/images/hero-headline2.png" alt="転職をお考えの方！">
      </div>
    </div>
  </div>
</div>