<ul class="c-post-list">
  <li class="c-post-list__item">
    <div class="c-post-list__flex-row-container">
      <span class="c-post-list__item-category">お知らせ</span>
      <time class="c-post-list__item-time c-post-list__item-time--display-small"><a href="#">2021.07.01</a></time>
      <span class="c-post-list__item-fresh c-post-list__item-fresh--display-small">NEW!</span>
    </div>
    <div class="c-post-list__flex-row-container">
      <p class="c-post-list__item-title">
        <time class="c-post-list__item-time c-post-list__item-time--hide-small"><a href="#">2021.07.01</a></time>
        <a href="#">サイトをリニューアルしました！</a>
      </p>
      <span class="c-post-list__item-fresh c-post-list__item-fresh--hide-small">NEW!</span>
    </div>
  </li>
  <li class="c-post-list__item">
    <div class="c-post-list__flex-row-container">
      <span class="c-post-list__item-category">お知らせ</span>
      <time class="c-post-list__item-time c-post-list__item-time--display-small"><a href="#">2021.07.01</a></time>
      <span class="c-post-list__item-fresh c-post-list__item-fresh--display-small">NEW!</span>
    </div>
    <div class="c-post-list__flex-row-container">
      <p class="c-post-list__item-title">
        <time class="c-post-list__item-time c-post-list__item-time--hide-small"><a href="#">2021.07.01</a></time>
        <a href="#">サイトをリニューアルしました！</a>
      </p>
      <span class="c-post-list__item-fresh c-post-list__item-fresh--hide-small">NEW!</span>
    </div>
  </li>
</ul>