<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Web site created using static-site-boilerplate"
    />
    <title>Home</title>
    <link
      rel="shortcut icon"
      href="./assets/favicon/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="./assets/favicon/favicon.ico" type="image/x-icon" />
    <!-- Web Fonts -->
    <!-- Add Google Fonts, Adobe Fonts at here. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Main CSS File -->
    <link rel="stylesheet" href="./css/main.css" />
  </head>

  <body>
    <!--
      This HTML file is a template.

      You can add webfonts, meta tags, or analytics to this file.
      To begin the development, run `npm start`.
      To create a production bundle, use `npm run build`.
    -->
    <%- include('./layouts/_header', {basePath: '.'}); %>

    <div class="p-home">
      <h1 class="p-home__headline">Hello World!</h1>
      <p class="p-home__author">Version: 1.0</p>
      <p class="p-home__author">Author: Gao Shanghui</p>
    </div>

    <!-- Main JavaScript File -->
    <script src="./js/main.bundle.js"></script>
  </body>
</html>
