@use './variables';

/* Basic settings */
* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: variables.$primary-font-family;
  font-size: 16px;
  color: variables.$black;
  margin: 0;
}
