/* Colors: */
$white: #FFFFFF;
$black: #000000;
$red-600: #DC2626;
$gray-300: #D1D5DB;
$gray-900: #050038;
$gray-600: #4B5563;
$gray-400: #9B99AF;
$gray-50: #F9FAFB;
$blue-500: #2F88FF;
$blue-600: #2563EB;
$blue-800: #1E40AF;

/* Font/text values */
$primary-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@mixin headline-large {
  font-size: 48px;
  font-weight: 900;
  line-height: 72px;
  margin: 24px 0;

  @media (max-width: $bp-extra-small) {
    font-size: 32px;
    line-height: 48px;
  }
}

@mixin headline-normal {
  font-size: 32px;
  font-weight: 900;
  line-height: 48px;
  margin: 16px 0;

  @media (max-width: $bp-extra-small) {
    font-size: 28px;
    line-height: 48px;
  }
}

@mixin body-normal {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 16px 0;
}

@mixin subtitle-normal {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 16px 0;

  @media (max-width: $bp-extra-small) {
    font-size: 18px;
  }
}

/* Breakpoints */
$bp-extra-small: 599px;
$bp-small: 1239px;
$bp-medium: 1439px;
